.suggestion {
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid lightgray;
    margin: 0;
}

.suggestion-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid lightgray;
}

.input-style {
    width: 100%;
    padding: 0.5rem 1rem;
}